.container{
    text-align: center;
    display: flex;
    margin-left: 40%;
}
.mdp{
    text-align: center;
    display: flex;
    margin-left: 41%;
}
h1{
    text-align: left;
    margin-left: 10%;
    margin-top: 10%;
    
}
.buttConnect{
    margin-left: 52.4%;
}
.laPage{
    margin-top: 15%;
 
}
.fontdiv{
    background-color: lightgray;
    margin-left: 28%;
    margin-right: 28%;
    height: 300px;
    margin-top: 10%;
}