<div class="footer">
    <h5>Adresse : 645 rue inconnue, Montréal, Québec, H5L 6A4</h>
        <h5>Heures d'ouverture: tous les jours de 8h à 19h</h>
            <h5>Numéro de téléphone: 514-684-2509</h>
</div>