<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/footer.css">
    </link>
</head>

<body>
    <footer>
        <div class="footer">
            <div class="contact">
                <div class="contact_info">
                    <h2>Contact</h2>
                    10555 Av du Bois-de-Boulogne, Montréal QC H4N 1L4, Canada <br>
                    Heures d'ouverture: tous les jours de 8h à 19h <br>
                    (514) 684-2509 <br>
                </div>
            </div>
    </footer>

</body>

</html>