<head>
	<link rel="stylesheet" href="navbar.css">
</head>

<nav class="navbar navbar-dark bg-primary">
	<span class="navbar-brand" style="color:#fff">
		<%= pageTitle %>
	</span>

	<div class="">
		<div class="col s12">
			<a href="/inscription" class="btn btn-success btn-lg">S'inscrire </a>
		</div>

		<div class="col s12">
			<a href="/connexion" class="btn btn-success btn-lg">Se Connecter </a>
		</div>
	</div>

	<!-- Code pour le menu -->

	<a href="/"><img class="logo" src="/Logo_feuille.png" alt="Logo"></a>

	<div class="section">
		<div class="type">
			<a href="accueil">Accueil</a>
		</div>

		<div class="type">
			<a href="services">Services </a>
		</div>

		<div class="type">
			<a href="rendezvous">Rendez-vous </a>
		</div>

		<div class="type">
			<a href="contact">Contact </a>
		</div>

		<div class="type">
			<a href="connexion">Connexion </a>
		</div>
	</div>

</nav>