<head>
    <link rel="stylesheet" href="navbar.css">
</head>

<nav class="navbar navbar-dark bg-primary">


    <!-- Code pour le menu -->
    <!-- Code pour le menu -->

    <a href="/"><img class="logo" src="/Logo_feuille.png" alt="Logo"></a>

    <div class="section">
        <div class="type">
            <a href="/">Accueil</a>
        </div>

        <div class="type">
            <a href="services">Services </a>
        </div>

        <div class="type">
            <a href="rendezvous">Rendez-vous </a>
        </div>

        <div class="type">
            <a href="contact">Contact </a>
        </div>

        <div class="type">
            <a href="connexion">Connexion </a>
        </div>
    </div>

</nav>