.laPage {
    /* margin-left: 2%;
    margin-right: 20%;
    margin-top: 8%;
    margin-bottom: 8%; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 660px;
    height: 400px;
    background: lightgray;
    border-radius: 2px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}

.tab-content {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 60;
    color: rgb(82, 75, 75);
}

.tabs {
    font-size: 40px;
    color: rgb(243, 243, 243);
    display: flex;
    margin: 20;
    position: center;
}

.tabs span {
    background: rgb(35, 143, 170);
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.tabs span:hover {
    background: rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.cotermedecin {
    margin-left: 28%;
    margin-right: 61%;
}

h2 {
    color: #000000;
    text-align: left;
}

.background {
    background-color: lightgray;
    margin-left: 10%;
    margin-right: 10%;
}

.line {
    margin-bottom: 0;
    transform: rotate(90deg);
    border-color: #1A85FD;
}

input[type=submit] {
    background-color: #000000;
    color: rgb(255, 255, 255);
    margin-left: 25%;
    border-radius: 3px;
    font-size: 17px;
}

input[type=submit]:hover {
    background-color: #89CFF0;
    color: #000000;
    font-size: 17px;
    cursor: pointer;
}

.formulaire {
    margin-left: 22%;
    margin-top: 5%;
    margin-bottom: 20%;
    width: 1000px;
    height: 400px;
    background-color: rgb(214, 210, 210);
    border-radius: 3px;
    padding-top: 1px;
    border-radius: 15px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-group {
    padding: 10px;
}

label {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type=date] {
    margin-left: 19%;
}

input[type=time] {
    margin-left: 20%;
}

select[name=type] {
    margin-left: 10%;
}

select[name=nom_doc] {
    margin-left: 12%;
}