.laPage{

    
    
        display: flex;
        justify-content: center;
   margin-left: 20%;
   margin-right: 20%;
   margin-top: 8%;
   margin-bottom: 8%;
   height: 40%;
   
}
.cotermedecin{

margin-right: 10%;
border-style: solid;
border-width: thin;
border-color: #FFFFFF;

}
.coterclient{
    margin-left: 20%;
    border-style: solid;
border-width: thin;
border-color: #FFFFFF;
}
p{
    font-size: 20px;
    color: blue;
    text-align: center;
}
.background{
    background-color: lightgray;
    margin-left: 10%;
    margin-right: 7%;
    
}
.line{
   
    margin-bottom: 0;
    transform: rotate(90deg);
    border-color: #1A85FD;
}


