.laPage {
    display: flex;
    justify-content: center;
    margin-left: 2%;
    margin-right: 20%;
    margin-top: 8%;
    margin-bottom: 8%;
}

.cotermedecin {
    margin-left: 28%;
    margin-right: 61%;
}

p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

.background {
    background-color: lightgray;
    margin-left: 10%;
    margin-right: 10%;
}

.line {
    margin-bottom: 0;
    transform: rotate(90deg);
    border-color: #1A85FD;
}

input[type=submit] {
    background-color: #000000;
    color: rgb(255, 255, 255);
    margin-left: 25%;
    border-radius: 3px;
    font-size: 17px;
}

input[type=submit]:hover {
    background-color: #89CFF0;
    color: #000000;
    font-size: 17px;
    cursor: pointer;
}