<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    
    <div class="container1">
        <h1>Connexion</h1>
      <% if (messages) { %>
        <p><%= messages.error %></p> 
        <% } %>
        <form action="/connexion" method="POST">
            <input type="email" name="email" placeholder="alexkao@gmail.com"/>
            <input type="password" name="password" placeholder="alex"/>
            <button>Connexion</button>
            <input type="email" name="email" placeholder="Adresse courriel" id="champ1" onkeyup="verifierChamps()"/>
            <input type="password" name="password" placeholder="Mot de passe" id="champ2" onkeyup="verifierChamps()"/>
            <button id="button" disabled>Connexion</button>
        </form>

    </div>

    <script>
        function verifierChamps() {
            if (champ1.value.length > 0 && champ2.value.length > 0) {
                document.getElementById('button').disabled = false;
            } else {
                document.getElementById('button').disabled = true;
            }
        }
    </script>

</body>
</html>