<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    
    <div class="containerConnexion1">
        <h2>Connexion</h2>
      <% if (messages) { %>
        <p><%= messages.error %></p> 
        <% } %>
        <form action="/connexion" method="POST">
            <div name="tt">
                <label for="email">email</label>
                <input type="email" name="email" placeholder="Adresse courriel" id="champ1" onkeyup="verifierChamps()"/>
                <label for="password">mot de passe</label>
                <input type="password" name="password" placeholder="Mot de passe" id="champ2" onkeyup="verifierChamps()"/>
                
                <button id="button" disabled>Connexion</button>
            </div>
           
        </form>

    </div>

    <script>
        function verifierChamps() {
            if (champ1.value.length > 0 && champ2.value.length > 0) {
                document.getElementById('button').disabled = false;
            } else {
                document.getElementById('button').disabled = true;
            }
        }
    </script>

</body>
</html>

<%- include('partials/footer') %>