<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="accueil.css">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
</header>


<body>
    <br><br>

    <div class="container2">
        <div class="container1">
            <h1> Clinique dentaire Ever After Care</h1>
            <p>Situé au coeur de Montréal, notre clinique
                <B>Ever After Care</B> vous offre une gamme complète de service pour vous et votre famille. Nos spécialiste se feront un plaisir de vous accompagner dans tout vos besoins
            </p>

        </div>

        <div class="diapos">

        </div>
    </div>

    <br>


    <br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>