<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
        <link rel="stylesheet" href="connexion.css" />
</header>

<body>
    <section class="main">
        <div class="login-container">
            <p class="title">Inscription</p>
            <div class="separator"></div>

            <form class="login-form" action="/inscription" method="POST">
                <div class="form-control">
                    <p>Bienvenue chez EverAfterCare !</p>
                    <% if (messages) { %>
                        <p>
                            <%= messages.error %>
                        </p>
                        <% } %>
                </div>

                <div class="form-control">
                    <input type="firstname" class="login-input" name="firstname" placeholder="Prénom" id="champ1"
                        onkeyup="verifierChamps()" />
                    <i class="fas fa-user"></i>

                </div>

                <div class="form-control">
                    <input type="lastname" class="login-input" name="lastname" placeholder="Nom" id="champ4"
                        onkeyup="verifierChamps()" />
                    <i class="fas fa-user"></i>

                </div>


                <div class="form-control">
                    <input type="email" name="email" class="login-input" placeholder="Adresse courriel"
                        onkeyup="verifierChamps()" id="champ2" />
                    <i class="fas fa-user"></i>

                </div>


                <div class="form-control">
                    <input type="password" name="password" class="login-input" placeholder="Mot de passe"
                        onkeyup="verifierChamps()" id="champ3" />
                    <i class="fas fa-user"></i>

                </div>
                <div class="form-control">
                    <button class="submit" type="submit" id="button" disabled>Se connecter</button>
                </div>
            </form>

            <a href="connexion">Vous avez déjà un compte ?</a>

        </div>
    </section>

    <script>
        function verifierChamps() {
            if (champ1.value.length > 0 && champ2.value.length > 0 && champ3.value.length > 0 && champ4.value.length > 0) {
                document.getElementById('button').disabled = false;
            } else {
                document.getElementById('button').disabled = true;
            }
        }
    </script>
</body>

</html>