<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    <h1>Inscription</h1>
    <% if (messages) { %>
        <p><%= messages.error %></p> 
        <% } %>
    <div class="container1">
        <form action="/inscription" method="POST">
            <input type="name" name="name" placeholder="Nom complet"/>
            <input type="email" name="email" placeholder="alexkao@gmail.com"/>
            <input type="password" name="password" placeholder="alex"/>
            <button>Inscription</button>
        </form>
            <div class="container1">
                <form action="/inscription" method="POST">
                    <input type="name" name="name" placeholder="Nom complet" id="champ1" onkeyup="verifierChamps()" />
                    <input type="email" name="email" placeholder="Adresse courriel" onkeyup="verifierChamps()"
                        id="champ2" />
                    <input type="password" name="password" placeholder="Mot de passe" onkeyup="verifierChamps()"
                        id="champ3" />
                    <button id="button" disabled>Inscription</button>
                </form>

    </div>

            <script>
                function verifierChamps() {
                    if (champ1.value.length > 0 && champ2.value.length > 0 && champ3.value.length > 0) {
                        document.getElementById('button').disabled = false;
                    } else {
                        document.getElementById('button').disabled = true;
                    }
                }
            </script>
</body>
</html>