<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
        <title>
            <%- titreSite %> -
                <%- titrePage %>
        </title>

</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
</body>