<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
        <title>
            <%- titreSite %> -
                <%- titrePage %>
        </title>

</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <h1>Recherche utilisateurs</h1>
    <input type="text" id="search-box" onkeyup="sendData(this)">
    <section id="searchResults"></section>
</body>