<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
        <title>
            <%- titreSite %> -
                <%- titrePage %>
        </title>

</head>
<link rel="stylesheet" href="recherche.css" />

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <h1>Recherche utilisateurs</h1>
    <input type="text" id="search-box" onkeyup="sendData(this.value)">
    <section id="searchResults"></section>

    <script>
        function sendData(e) {
            const searchResults = document.getElementById("searchResults");

            fetch('getUtilisateurs', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ temp: e.value })
            }).then(res => res.json()).then(data => {
                let payload = data.payload;
                searchResults.innerHTML = '';
                if (payload.length < 1) {
                    searchResults.innerHTML = '<p>Pas d\'utilisateur trouve</p>';
                    return;

                } else {
                    payload.forEach((item, index) => {
                    if (index > 0) searchResults.innerHTML += '<hr>';
                    searchResults.innerHTML += `<p>Prénom : ${item.first_name}</p>`;
                    searchResults.innerHTML += `<p>Nom de famille : ${item.last_name}</p>`;
                    searchResults.innerHTML += `<p>Adresse courriel : ${item.email}</p>`;
                    searchResults.innerHTML += `<p>Type d'utilisateur : ${item.user_type}</p>`;
                    

                });
                return;
                }

            });
        }
    </script>
</body>