<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
        <title>
            <%- titreSite %> -
                <%- titrePage %>
        </title>

</head>
<link rel="stylesheet" href="recherche.css" />

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <h1>Recherche utilisateurs</h1>
    <input type="text" id="search-box" onkeyup="sendData(this)">
    <section id="searchResults"></section>

    <script>
        function sendData(e) {
            const searchResults = document.getElementById("searchResults");

            fetch('getUtilisateurs', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ temp: e.value })
            }).then(res => res.json()).then(data => {
                let payload = data.payload;
                searchResults.innerHTML = '';
                if (payload.length < 1) {
                    searchResults.innerHTML = '<p>Pas d\'utilisateur trouve</p>';
                    return;

                }
                payload.forEach((item, index) => {
                   if (index > 0) searchResults.innerHTML += '<br><br>';

                        var temp = "";
                    temp += `<p class="name" style="text-transform:uppercase;"> ${item.first_name}  ${item.last_name}</p>`;
                    temp += '<hr>'
                    temp += '<br>'
                    temp += `<p style="text-transform:uppercase;">Adresse courriel : ${item.email}</p>`;
                    temp += `<p style="text-transform:uppercase; font-style:underline;">Type d'utilisateur : ${item.user_type}</p>`;
                        
                    searchResults.innerHTML += '<div class = "UserInfo">' + temp + ' </div>';
                });
                return;
            });
        }
    </script>
</body>