<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>       
    <link rel="stylesheet" href="connexion.css" />
</header>

<body>
    <section class="main">
        <div class="login-container">
            <h4>Réinitialisation du Mot De Passe</h4>

            <div class="separator"></div>
                <form class="login-form"  action="/resetPassword" method="POST">
       
                    <div class="form-control">
                    <input type="email" name="email" placeholder="Adresse courriel" id="champ3" onkeyup="verifierChamps()" /> <br>
       
                    <i class="fas fa-user"></i>
                </div>
                    <div class="form-control">
                         <input type="password" name="password" placeholder="Nouveau mot de passe" id="champ2"
            onkeyup="verifierChamps()" /> <br>
            <i class="fas fa-user"></i>
        </div>
        
        
            <div class="form-control">
                <input type="password" name="passwordc" placeholder="Confirmer mot de passe" id="champ1"
            onkeyup="verifierChamps()" /> <br>
            <i class="fas fa-user"></i>
        </div>
        
            <div class="form-control">
                <button class = "submit" id="button" disabled submit>Envoyer</button>
            </div>
    </form>
</div>


</section>
    <script>
        function verifierChamps() {
            if (champ3.value.length > 0 && champ2.value.length > 0 && champ1.value.length > 0) {
                document.getElementById('button').disabled = false;
            } else {
                document.getElementById('button').disabled = true;
            }
        }
    </script>
</body>

</html>
