<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <form action="/resetPassword" method="POST">
        <input type="email" name="email" placeholder="Adresse courriel" id="champ3" onkeyup="verifierChamps()" /> <br>
        <input type="password" name="password" placeholder="Nouveau Mot De Passe" id="champ2"
            onkeyup="verifierChamps()" /> <br>
        <input type="password" name="passwordc" placeholder="Confirmer Nouveau Mot De Passe" id="champ1"
            onkeyup="verifierChamps()" /> <br>
        <button id="button" disabled submit>Mot de passe Oublié</button>
    </form>
    <script>
        function verifierChamps() {
            if (champ3.value.length > 0 && champ2.value.length > 0 && champ1.value.length > 0) {
                document.getElementById('button').disabled = false;
            } else {
                document.getElementById('button').disabled = true;
            }
        }
    </script>
</body>

</html>

<%- include('partials/footer') %>