<nav class ="navbar navbar-dark bg-primary">
	<span class="navbar-brand" style="color:#fff"><%= pageTitle %> </span>
	
<div class="">
	<div class="col s12">
		<a href="/inscription" class="btn btn-success btn-lg">S'inscrire </a>
	</div>

	
	<div class="col s12">
		<a href="/connexion" class="btn btn-success btn-lg">Se Connecter </a>
	</div>
	</div>
</nav>	