.container1 {
    background-color: rgb(135, 206, 235);
    opacity: 4;
    height: 200px;
    width: 60%;
    display: table-cell;
    margin: 50px auto;
    text-align: justify;
    padding: 10px;
}

.container2 {
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
}

.text_accueil {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px 5px 5px 10%;
    color: black;
    padding: 5px;
}

.title {
    font-size: 40px;
    margin: 10% 0px 5% 10%;
    font-weight: bold;
}

.diapos {
    width: 100%;
    height: 425px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fondu 20s ease-in-out infinite both;
    display: table-cell;
}

.diapos:hover {
    animation-play-state: paused;
}

.presentation {
    width: 100%;
    height: 400px;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}

.tab-content {
    margin: 60;
}

.tabs {
    font-size: 30px;
    color: rgb(0, 0, 0);
    display: flex;
    margin: 20;
    position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.tabs span {
    background: lightgray;
    padding: 10px;
    width: 25%;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    height: 80px;
}

.tabs__tab {
    background-color: white;
    height: 350px;
    border-radius: 40px;
}

.tabs span:hover {
    background: #89cff0;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.image_accueil {
    padding-top: 10px;
    float: left;
    text-align: center;
    width: 500px;
    height: 300px;
}

.text_serv {
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 3% 5% 5% 30%;
}

.desctiption_services {
    margin: 5% 5% 5% 25%;
    text-align: justify;
}

.horaire {
    background-color: white;
    width: 35%;
    height: auto;
    float: left;
    padding-top: 8%;
    padding-bottom: 8%;
    border-radius: 40px;
}

.info_adresse {
    background-color: white;
    width: 45%;
    float: right;
    text-align: center;
    border-radius: 40px;
}

.text_a_propos {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3%;
    padding: 20px;
    border-radius: 40px;
}

.texte {
    font-size: 22px;
    text-align: justify;
    padding: 20px;
}

.jour {
    float: left;
    margin-left: 25%;
}

.heure {
    float: right;
    margin-right: 25%;
}

.carte {
    text-align: center;
    font-size: 26px;
    margin: 10px;
}

.heure,
.jour {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.separator {
    width: 150px;
    height: 4px;
    background-color: black;
    margin-left: 45%;
}

.sous_titre {
    text-decoration: underline;
    font-size: 26px;
    font-weight: bold;
    margin: 2%;
    text-align: center;
}

.a_propos {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 30px;
    margin: 10px;
}

@keyframes fondu {
    0% {
        background-image: url("images/diapo1.jpg");
    }
    25% {
        background-image: url("images/diapo2.jpg");
    }
    50% {
        background-image: url("images/diapo10.jpg");
    }
    75% {
        background-image: url("images/diapo9.jpg");
    }
    100% {
        background-image: url("images/diapo11.jpg");
    }
}