/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
/*----------------------------------------------------------------
/* pour reset la mise en page de chaque navigateur */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}



ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Footer */
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	background-color: teal;
}

/* Body */
html {
	background: url("./images/bg.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* NavBar */
:root {
	--babyblue: #89cff0;
	--white: rgb(244, 244, 244);
}

* {
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--babyblue);
	caret-color: var(--babyblue);
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.logo {
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.logo-img {
	align-items: center;
	justify-content: center;
	height: 8vh;
}

.logo a {
	text-decoration: none;
	color: var(--white);
	padding: 30px;
	text-align: center;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 53.5%;
}

.nav-links a {
	text-decoration: none;
	color: var(--white);
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14;
	padding: 35px;

}

.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: var(--white);
	margin: 5px;
	transition: all 0.5s ease-in-out;
}


@media screen and (max-width: 1064px) {
	body {
		overflow-x: hidden;
	}

	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: hwb(199 48% 17% / 0.95);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.nav-links li {
		opacity: 0;
	}

	.burger {
		display: block;
		cursor: pointer;

	}

	.logo {
		color: var(--white);
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 15px;
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	.logo-img {
		align-items: center;
		justify-content: center;
		height: 8vh;
	}

	.logo a {
		text-decoration: none;
		color: var(--white);
		padding: 20px;
		text-align: center;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}


.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

li {
	cursor: pointer;
	transition: background-color 1s ease-out;
	font-size: 14px;
	padding: 30px;


}

li:hover {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}