.logo {
    width: 100px;
}



/* 
https://codepen.io/Patak/pen/QpLpOV/
 */

nav {
    position: relative;
    background-color: #89cff0;
    align-items: center;
}

nav a {
    font-size: 20px;
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    align-items: center;

}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
}

a:nth-child(1) {
    width: 12.5%;
    left: 12.5%;

}

a:nth-child(2) {
    width: 12.5%;
    left: 12.5%;
}

a:nth-child(3) {
    width: 12.5%;
    left: 12.5%;

}

a:nth-child(4) {
    width: 12.5%;
    left: 12.5%;

}

a:nth-child(5) {
    width: 12.5%;
    left: 12.5%;

}

a:nth-child(6) {
    width: 12.5%;
    left: 12.5%;

}


nav .start-home, a:nth-child(1):hover~.animation {
    width: 12.5%;
    left: 12.5%;
    background-color: #89f0aa;
}

nav a:nth-child(2):hover~.animation {
    width: 12.5%;
    left: 25%;

    background-color: #000;
}

nav a:nth-child(3):hover~.animation {
    width: 12.5%;
    left: 37.5%;

    background-color: #000;
}

nav a:nth-child(4):hover~.animation {
    width: 12.5%;
    left: 50%;
    background-color: #000;
}

nav a:nth-child(5):hover~.animation {
    width: 12.5%;
    left: 62.5%;
    background-color: #000;
}

nav a:nth-child(6):hover~.animation {
    width: 12.5%;
    left: 75%;
    background-color: #000;
}



.center {
    align-items: center;
}