<%- include ('../partials/header') %>

	<!DOCTYPE html>
	<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="accueil.css">
		<title>Accueil</title>
	</head>

	<body>

		<div class="container1">
			<img src="/accueil/main.jpg" class="images1" alt="Image de dentistes">
			<div class="container2">
				<h1>Lorem Ipsum</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec pellentesque ex ut urna semper gravida. Nunc sit amet
                    mattis est, at blandit turpis. Curabitur tincidunt blandit
                    maximus. Aliquam pretium sollicitudin justo eget porta. Nam
                    cursus nisl at rhoncus mollis. Suspendisse quis vestibulum
                    elit. Vivamus volutpat placerat lorem, vitae efficitur massa
                    tristique fermentum. Quisque tincidunt dolor ac magna
                    posuere, quis ullamcorper augue luctus. Pellentesque egestas
                    blandit lorem vitae blandit. Duis est lectus, rhoncus id
                    tortor tempor, euismod fermentum magna. Donec eros enim,
                    lacinia in sem id, tristique accumsan ante. Quisque quis
                    rhoncus velit, sit amet interdum risus. In venenatis mauris
                    vel diam aliquam, sit amet egestas turpis pharetra. Praesent
                    egestas elit sagittis metus mollis, posuere tristique neque
                    congue. Aliquam purus ligula, hendrerit nec arcu eu,
                    placerat molestie lorem.
				</p>
			</div>
		</div>

		<div class="container3">
			<h2>Il reste ___ places ! Inscrivez-vous dès maintenant !</h2>
			<button class="button-52" role="button">Je m'inscris !</button>
		</div>

		<div class="container4">
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Donec pellentesque ex ut urna semper gravida. Nunc sit amet
			mattis est, at blandit turpis. Curabitur tincidunt blandit
			maximus. Aliquam pretium sollicitudin justo eget porta. Nam
			cursus nisl at rhoncus mollis. Suspendisse quis vestibulum
			elit. Vivamus volutpat placerat lorem, vitae efficitur massa
			tristique fermentum. Quisque tincidunt dolor ac magna
			posuere, quis ullamcorper augue luctus. Pellentesque egestas
			blandit lorem vitae blandit. Duis est lectus, rhoncus id
			tortor tempor, euismod fermentum magna. Donec eros enim,
			lacinia in sem id, tristique accumsan ante. Quisque quis
			rhoncus velit, sit amet interdum risus. In venenatis mauris
			vel diam aliquam, sit amet egestas turpis pharetra. Praesent
			egestas elit sagittis metus mollis, posuere tristique neque
			congue. Aliquam purus ligula, hendrerit nec arcu eu,
			placerat molestie lorem.</p>
			<br>
			<img src="/accueil/groupe_dentistes.jpg" class="image2" alt="Groupe de dentistes">
		</div>

	</body>

	</html>

	<%- include ('../partials/footer') %>