<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Menu</title>
</head>
<nav>
    <!-- Code pour le menu -->
    <div class="logo">
        <a href="acceuil"><img src="ki.jpg" alt="Logo" style="width: 47%; height: auto; margin-left: 15px; filter: invert(100%);"></a>
    </div>
    <div class="section">
        <div class="type">
            <a href="accueil">Accueil</a>

        </div>

        <div class="type">
            <a href="services">Services </a>

        </div>
        <div class="type">
            <a href="rendezvous">Rendez-vous </a>

        </div>
        <div class="type">
            <a href="contact">Contact </a>

        </div>
        <div class="type">
            <a href="connexion">Connexion </a>

        </div>
    </div>

</nav>
<div class="footer">
    <h5>Adresse : 645 rue inconnue, Montréal, Québec, H5L 6A4</h>
        <h5>Heures d'ouverture: tous les jours de 8h à 19h</h>
            <h5>Numéro de téléphone: 514-684-2509</h>
</div>