<%- include ('../partials/header') %>
    <h1>
        Prise de rendez-vous</h1>


    <form action="http://localhost:4000" method="post" class="col s12">
        <label for="rendezvous">Sélectionnner votre médecin:</label>
        <select id="nom_doc" name="nom_doc">
        <% liste.forEach(function(item,index){ 
            console.log("test");%>
           <option value="<%= item.id %>"><%= item.last_name %> <%= item.first_name %></option>
        <%}); %>
            
            </select>
        <label for="rendezvous">Quel est l'objet du rendez-vous:</label>
        <select id="type" name="type">
                  <option value="Premier examen">Premier examen</option>
                  <option value="Examen de controle">Examen de controle</option>
                  <option value="Traitement">Traitement (plombage, couronnne,etc)</option>
                  <option value="Opération">Opération</option>
                </select>
        <label for="start">Choisissez une date:</label>

        <input type="date" id="start" name="trip-start" value="2022-02-22" max="2030-01-01" min="2022-02-01">
        <label for="time">Choisissez l'heure:</label>

        <input type="time" id="time" name="time" min="09:00" max="18:00" required>

        <input type="submit" name="submit" value="Confirmer" class="btn btn-primary btn-lg">
    </form>