<%- include ('../partials/header') %>


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="accueil.css">
        <title>Services</title>
    </head>

    <body>
        <section>
            <h1>À venir </h1>
            <div class="box">
                <h2>Service 1</h2>
                <div class="service">
                    <img src="depositphotos_1018082-stock-photo-empty-room.jpg" alt="" width="150px" height=auto>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus enim, mollis id interdum at, sagittis vitae nunc. Duis bibendum tempor faucibus. Nullam efficitur hendrerit odio, vitae aliquam sapien blandit ac. Nulla eget ante sem.
                    In condimentum condimentum dolor sit amet congue. Vivamus sed tristique ligula, ac commodo diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus enim, mollis id interdum at, sagittis vitae nunc. Duis bibendum tempor
                    faucibus. Nullam efficitur hendrerit odio, vitae aliquam sapien blandit ac. Nulla eget ante sem. In condimentum condimentum dolor sit amet congue. Vivamus sed tristique ligula, ac commodo diam. </p>
            </div>

            <div class="box">
                <h2>Service 2</h2>
                <div class="service">
                    <img src="depositphotos_1018082-stock-photo-empty-room.jpg" alt="" width="150px" height=auto>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus enim, mollis id interdum at, sagittis vitae nunc. Duis bibendum tempor faucibus. Nullam efficitur hendrerit odio, vitae aliquam sapien blandit ac. Nulla eget ante sem.
                    In condimentum condimentum dolor sit amet congue. Vivamus sed tristique ligula, ac commodo diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus enim, mollis id interdum at, sagittis vitae nunc. Duis bibendum tempor
                    faucibus. Nullam efficitur hendrerit odio, vitae aliquam sapien blandit ac. Nulla eget ante sem. In condimentum condimentum dolor sit amet congue. Vivamus sed tristique ligula, ac commodo diam.</p>
            </div>
            <div class="box">
                <h2>Service 3</h2>
                <div class="service">
                    <img src="depositphotos_1018082-stock-photo-empty-room.jpg" alt="" width="150px" height=auto>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus enim, mollis id interdum at, sagittis vitae nunc. Duis bibendum tempor faucibus. Nullam efficitur hendrerit odio, vitae aliquam sapien blandit ac. Nulla eget ante sem.
                    In condimentum condimentum dolor sit amet congue. Vivamus sed tristique ligula, ac commodo diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus enim, mollis id interdum at, sagittis vitae nunc. Duis bibendum tempor
                    faucibus. Nullam efficitur hendrerit odio, vitae aliquam sapien blandit ac. Nulla eget ante sem. In condimentum condimentum dolor sit amet congue. Vivamus sed tristique ligula, ac commodo diam. </p>
            </div>
        </section>
    </body>