<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Bonjour {{uname}},</p>
        <p>Votre rendez-vous pris avec le docteur {{name}} à été accepté et aura lieu le : </p>
        <p> {{rdvdate}} à {{rdvtime}}.</p>
    </body>
</html>