<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Bonjour {{uname}},</p>
        <p>Votre rendez-vous pris avec le docteur {{name}} à été annnulé.</p>
        <p> Vous receverez un remboursement d'ici une semaine ou deux.</p>
    </body>
</html>